<div class="navbar-wagon">

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div class="switch">
      <a href="#" class="toggle toggle--on"></a>
    </div>


  </div>
</div>
