---
title: Walter's Portfolio Page
---

<div class="banner">
  <h1>
    <svg role="img">
      <title class="title">Random Words!    </title>
      <text class="word" dominant-baseline="central" fill="#222" stroke="#222" stroke-linecap="round" stroke-width="1.5%" text-anchor="middle" x="50%" y="50%">Random Words!</text>
      <text class="word" dominant-baseline="central" fill="white" text-anchor="middle" x="50%" y="50%">Random Words!</text>
    </svg>
  </h1>
</div>

<div class="switch-wrapper">
  <div class="switch-button"><span class="active"></span>
    <button class="switch-button-case left active-case">Pizza</button>
    <button class="switch-button-case right">Pasta</button>
  </div>
</div>

<div class="wrapper-1">
  <div class="container text-center">
    <div id="box-one" class="terminal">
      <div class="bar">
        <div class="term-btn"></div>
      </div>
      <div class="term-body"></div>
    </div>

    <div class="terminal hidden" id="box-two">
      <div class="bar">
      <div class="term-btn"></div>
      </div>
      <div class="term-body">
        <p>Here are my projects</p>
      </div>
    </div>
  </div>
</div>

